.App {
  margin-top: 30px;
  display: grid;
  grid-template-columns: minmax(200px, 350px) 1fr;
}

.sidebar {
  /* height: 500px; */
  /* width: 350px; */
  /* position: fixed; */
  /* z-index: 1; */
  /* top: 30px; */
  /* left: 0; */
  /* overflow-x: hidden; */
  padding: 15px;
}
@media screen and (max-width: 700px) {
  .App {
    grid-template-columns: 1fr;
  }
}

.views {
  /* margin-left: 350px; */
  padding: 15px;
}

.logo {
  text-align: center;
}
.logo a {
  text-decoration: none;
}
.logo span {
  color: rgba(31, 24, 19, 0.8);
  font-size: 40px;
  font-family: "Pacifico", cursive;
}

.sidebar-menu ul {
  list-style-type: none;
}
.sidebar-menu ul li {
  padding: 10px;
}
.sidebar ul li a {
  text-decoration: none;
}
.sidebar ul li:hover {
  margin-right: 10px;

  /* text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit; */
}
.sidebar-menu span {
  color: rgba(19, 22, 31, 0.8);
  font-size: 20px;
}

.sidebar .search {
  margin: 25px 0 25px 0;
}
.sidebar .search input {
  padding: 10px;
  display: block;
  border: none;
  border-top: 1px solid rgba(19, 22, 31, 0.4);
  border-bottom: 1px solid rgba(19, 22, 31, 0.4);
  width: 100%;
  font-size: 16px;
}

.fontheader {
  font-family: "Pacifico", cursive;
}

/* article styles */
.article {
  padding: 15px;
}
.article-title {
  display: grid;
  grid-template-columns: 35px 1fr 100px;
}

.article-settings i {
  cursor: pointer;
  margin-right: 13px;
  float: right;
}
.article-settings a {
  color: #21252f;
}

.article-caption {
  cursor: pointer;
}
.article-body {
  padding-top: 20px;
}

.font-editor {
  font-family: "Oranienbaum", serif;
}
